.Aside-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #ebc5af;
  gap: 50%;
}
.Aside-div .Aside-ChatList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

/* 스크롤바 없애기 */
.Aside-div .Aside-ChatList::-webkit-scrollbar {
  display: none;
}

/* 새로운 대화 버튼 */
.Aside-div .Aside-ChatList .Aside-ChatList-div-plus {
  font-size: 70px;
  color: #a66641;
  cursor: pointer;
}

/* 지난대화 버튼 */
.Aside-div .Aside-ChatList .Aside-ChatList-div {
  position: relative;
  width: 70%;
  padding: 10px 10px;
  color: white;
  border-radius: 10px;
  background-color: #a66641;
  cursor: pointer;
}
.Aside-div .Aside-ChatList .Aside-ChatList-true {
  opacity: 0.5;
}

/* 삭제버튼 */
.Aside-div .Aside-ChatList .Aside-ChatList-div .Aside-ChatList-btn-mini {
  position: absolute;
  right: 10px;
  top: 13px;
  background-color: transparent;
  color: white;
  border: 0;
  cursor: pointer;
}
