.Header-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  gap: 50%;
  background-color: #a66641;
}
.Header-div .Header-Menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.Header-div .Header-Menu-left {
  gap: 30px;
}
.Header-div .Header-Menu .Header-img {
  width: 80px;
}

.Header-div .Header-Menu .Header-button {
  width: 80px;
  height: 30px;
  vertical-align: top;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
  color: white;
}
.Header-div .Header-Menu .Header-button-en {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.Header-div .Header-Menu .Header-button .Header-button-en-img {
  width: 30%;
}
.Header-div .Header-Menu .Header-button-logout {
  background-color: white;
  color: #a66641;
  border-radius: 10px;
}

/* 반응형 */
@media screen and (max-width: 1250px) {
  .Header-div {
    gap: 30%;
  }
}
@media screen and (max-width: 950px) {
  .Header-div {
    gap: 20%;
  }
}
@media screen and (max-width: 800px) {
  .Header-div {
    gap: 10%;
  }
}
@media screen and (max-width: 700px) {
  .Header-div {
    gap: 3%;
  }
}
