.find-password-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -100px;
  gap: 40px;
  width: 100%;
  height: 100vh;
}

/* 비밀번호 찾기 양식 */
.find-password-div .find-password-form {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.find-password-div .find-password-form .find-password-label {
  margin-left: 10px;
  font-size: 0.8em;
}
.find-password-div .find-password-form .find-password-input {
  height: 40px;
  padding: 0.3em 1em;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 1em;
}
.find-password-div .find-password-form .find-password-button {
  height: 40px;
  padding: 0.3em 1em;
  border-radius: 50px;
  font-size: 1em;
  cursor: pointer;
}
.find-password-div .find-password-navigate {
  display: flex;
  gap: 20px;
}
